@reference "tailwindcss";

:root {
    --font-body: 'Inter', sans-serif;
    --font-display: 'Onest', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

[x-cloak] { display: none; }

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141415;
    color: #e4e4e4;
    font-family: var(--font-body);
}

.bg-ltls-black {
    background-color: #141415;
}
.bg-ltls-white {
    background-color: #c6c6c6;
}

/* button {
    background-color: #f4f4f1;
} */

h1, h2 {
    @apply text-[102px] max-lg:text-[58px] max-sm:text-[62px] font-bold mb-2 leading-none;
    font-weight: normal;
    font-family: var(--font-display);
}
h2 {
    @apply flex justify-center text-center mb-6;
}
h3 {
    @apply text-[32px] max-lg:text-[28px] max-sm:text-[22px] font-normal mb-2 leading-none;
    font-family: var(--font-display);
    color: #e4e4e4;
}

section[id] {
    scroll-margin-top: 80px;
}

.section-head {
    @apply flex justify-center mb-[40px];
    color: #919191;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-mono);
}
.content-big {
    @apply text-center text-[58px] max-lg:text-[48px] max-sm:text-[22px] max-sm:leading-none mx-70 max-lg:mx-20 max-sm:mx-0;
    font-family: var(--font-display);
    font-weight: normal;
}
.section-tags {
    @apply py-2;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-mono);
    color: #919191;
}
.post-body {
    color:#919191;
    font-family: var(--font-body);
    font-size: 18px;
}

.btn-arrow {
    font-size: 18px;
}
.btn-arrow::after {
    content: "→";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: 22px;
    background-color: #c6c6c6;
    color: black;
    border-radius: 9999px;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.btn-arrow:hover::after {
    transform: translateX(4px);
}

.black_btn {
    @apply px-5 py-2 m-1 border-1 rounded-xl;
    color: #919191;
    border-color: #919191;
    background-color: #141415;
}
.black_btn:hover {
    color: #141415;
    background-color: #919191;
}
.black_btn:active {
    color: #141415;
    border-color: #e4e4e4;
    background-color: #e4e4e4;
}

.mobile_btn {
    @apply text-[54px] text-[#e4e4e4];
}

.view_btn {
    @apply px-10 py-4 m-1 border-1 rounded-xl text-[14px];
    color: #e4e4e4;
    border-color: #e4e4e4;
}
.view_btn:hover {
    color: #141415;
    border-color: #e4e4e4;
    background-color: #e4e4e4;
}

.white_btn {
    @apply px-5 py-2 m-1 border-1 rounded-xl ;
    @apply border-white bg-[#e4e4e4] text-[#141415] cursor-pointer max-sm:w-full;
    color: #141415;
    border-color: #919191;
    background-color: #919191;
}
.white_btn:hover {
    color: #141415;
    border-color: #e4e4e4;
    background-color: #e4e4e4;
}
.white_btn:active {
    color: #e4e4e4;
    border-color: #e4e4e4;
    background-color: #141415;
}

.contactus {
    color: #141415;
}

.contactus_btn {
    @apply inline-block px-5 py-2 text-white border-1 border-white rounded-xl transition-colors duration-200 shadow-md;
    color: #000;
    border-color: #000;
}

.white-circle-updown {
    @apply w-[50px] h-[50px] max-sm:w-[40px] max-sm:h-[40px];
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #c6c6c6;
    color: black;
    border-radius: 9999px;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 8px;
    padding-left: 2px;
    transition: all 0.3s;
}

.arrow-in-line {
    line-height: 12px;
    font-size: 32px;
}

.services-texts-child {
    @apply border-b border-b-[#676768] overflow-hidden transition-all duration-300 flex flex-col;
}

.services-texts-child div:last-child {
    @apply text-[#919191] text-[18px] leading-relaxed overflow-hidden;
}

.services-texts-child button {
    @apply my-5 w-full flex items-center justify-between transition-colors;
    cursor: pointer;
}

.services-texts-child button h3 {
    @apply text-[28px] text-left;
}
.services-texts-child .section-tags {
    @apply !text-[14px] uppercase;
}
/* .services-texts-child button span.flex-1 {
    font-size: 32px;
}
.services-texts-child button span.flex-shrink-0 {
    font-size: 16px
} */

/* Slider */
.slider-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: infiniteScroll 40s linear infinite;
}

.slide {
    width: 340px;
    height: 220px;
    /* aspect-ratio: 16 / 9; */
    flex-shrink: 0;

    background-image: url('/images/partners.png');
    /* background-size: 500% 100%;
    background-size: cover; */
    background-repeat: no-repeat;
    background-position: var(--bg-pos, 0% 0%);
}

@supports not (aspect-ratio: 16/9) {
    .slide { padding-bottom: 56.66%; } /* (9/16)*100% */
}

/* ========== FALLBACK ========== */
@supports not (aspect-ratio: 1/1) {
    .slide {
        height: 0;
        padding-bottom: 100%; /* 1:1 = 100% */
    }
}

/* .slide:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.slider-wrapper:hover .slider-track {
    animation-play-state: paused;
} */

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .slider-wrapper {
        max-width: 100%;
        padding: 15px 0;
    }

    .slide {
        background-size: cover;
        width: 260px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    .slide {
        background-size: cover;
        background-origin: border-box;
        width: 150px;
        height: 140px;
    }
}
/* /Slider */
